<!-- templates/doctors.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Dokter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa; /* Warna latar belakang */
            padding-top: 56px; /* Tinggi navbar (56px) */
        }

        .navbar {
            background-color: #8FBC8F; /* Warna navbar */
        }

        .navbar-dark .navbar-toggler-icon {
            background-color: #fff; /* Warna ikon toggler pada navbar dark */
        }

        .container {
            margin-top: 20px;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Rumah Sakit Mesra</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/doctors">Dokter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/patients">Pasien</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Daftar Dokter</h1>
        
        <!-- Formulir tambah dokter -->
        <h2>Tambah Dokter Baru</h2>
        <form method="POST" action="/add_doctor">
            <label for="doctor_name">Nama Dokter:</label>
            <input type="text" name="name" required>
            <label for="specialization">Spesialisasi:</label>
            <input type="text" id="specialization" name="specialization" required>
            <button type="submit">Tambah Dokter</button>
        </form>

        <!-- Tabel daftar dokter -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nama Dokter</th>
                    <th>Spesialisasi</th>
                    <th>Pasien</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.specialization }}</td>
                        <td>
                            {% for patient in doctor.patients %}
                                {{ patient.name }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('delete_doctor', doctor_id=doctor.id) }}">
                                <button type="submit" onclick="return confirm('Apakah Anda yakin ingin menghapus dokter ini?')">Hapus</button>
                        </td>
                        <td>
                            <a href="{{ url_for('edit_doctor', doctor_id=doctor.id) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JO5ktBS0o04ofQ2H1lVvO6d15dBDVtBZeehKQqDZa3ee11/KJpV06I2tML7/Yqz6"
        crossorigin="anonymous"></script>
</body>
</html>
